<h2>¤ªÖª¤é¤»</h2>
<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
<ul>
  <% @notifications.each do |notification| %>
  <hr>
    <li>
      <span>Î´Õi</span>
      <p>
        ¡¾<%= notification.comment.user.try(:name) %>¤µ¤ó¡¿¤¬
        ¤¢¤Ê¤¿¤Î¥Ö¥í¥°£¨<%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %>£©¤Ë¥³¥á¥ó¥È¤·¤Þ¤·¤¿¡£
      </p>
      <p><%= notification.created_at %></p>
    </li>
  <% end %>
</ul>
  </div>
</div>
