<h2>お知らせ</h2>
<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <ul>
      <% @notifications.each do |notification| %>
      <hr>
        <li>
          <span>未読</span>
          <p>
            【<%= notification.comment.user.try(:name) %>】さんが
           【ブログ（<%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %>）】にコメントしました。
          </p>
          <p><%= notification.created_at %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
